skimmedFiles
*.pdf
*.root
Oniatree_MC
Yield
BDT/BDTResult
BDT/dataset
BDT/roodatasets
BDT/.past_source
BDT/timestamp*
MassDist
.workdir.h

plots/CrossSection/*.cxx
BDT/Validation/BDT*.log
BDT/Validation/*.tar.gz
BDT/data/*
